.comics {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comics-item-first{
    z-index: 0;
    transform: translateY(50px);
}

.comics-item-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    opacity: 0%;
    z-index: 3;
}
.comics-item-second:hover{
    opacity: 100%;
    transition: opacity 1s ease-in-out;
}
.comics-item-second:active{
    opacity: 0%;
    z-index: 1;
}
.comics-item-third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    opacity: 0%;
    z-index: 2;
    transform: translate(50px, -50px);
}
.comics-item-third:hover{
    opacity: 100%;
    z-index: 2;
    animation: 3s ease-in-out 0s 1 forwards rocket-move;
}

@keyframes rocket-move{
    from{
    transform: translate(50px, -50px);
    }
    to{
      transform: translate(200px, -200px);
      filter: sepia(100%);
    }
}
.comics-item-third:hover + .comics-item-first{
    opacity: 0%;
}
