.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    grid-area: s;
    background-color: yellow;
  }
  
  .sidebar-chk {
    display: none;
  }
  
  .sidebar-btn {
    width: 200px;
    margin-top: 5px;
    padding: 7px;
    height: 30px;
    background-color: rgb(89, 89, 94);
    transition: width 250ms ease-in-out;
  }
  
  .sidebar-btn:hover {
    background-color: gray;
  }
  
  .sidebar-btn:active {
    background-color: rgb(209, 209, 209);
  }
  
  .sidebar-chk:checked + .sidebar-btn {
    width: 30px;
    color:transparent;
    transition: width 250ms ease-in-out;
  }
  
  .sidebar-chk:checked ~ .sidebar-item{
    display: none;
  }
  .sidebar-chk:checked ~ .sidebar-item_inner{
    display: none;
  }
  
  .sidebar-item{
    margin-top: 5px;
    padding: 7px;
    height: 30px;
    background-color: blue;
  }
  
  .sidebar-item_inner{
    margin-top: 5px;
    margin-left: calc(15px + 15px);
    padding: 7px;
    height: 30px;
    background-color: rgb(32, 105, 241);
  }