  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    grid-area: c;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(112, 112, 112);
  }

  .data-content {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  
  .data-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    padding: 0px 5px 5px 5px;

    min-width: 200px;
    margin: 10px;
    /* background: linear-gradient(rgb(91, 133, 189), rgb(238, 206, 146)); */
    /* background: radial-gradient(rgb(187, 186, 186), rgb(51, 51, 51)); */
    background: rgb(58, 58, 58);
    border-radius: 10px;
    border-color: rgb(150, 150, 150);
    border-style: solid;
    border-width: 2px;
    min-height: 200px;
  }